<!-- PRICINGPAGE.CO EMBED START -->
<div data-customer-id="<%= current_user.id %>" id="pricingplan">
<img alt="Loading" src="https://divtimsp9w7u.cloudfront.net/assets/loading-3cb7f58048b8b7bc5108054c0ea20b6d.gif">
</div>
<script async="async" defer="defer" src="https://choonkeat.pricingpage.co/pages/1f12d637-17af-42e3-82a0-76c9e8ba5442/embed.js"></script>
<!-- PRICINGPAGE.CO EMBED END -->
